@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
:root {
    --clr-1: rgb(57, 57, 57);
    --clr-2: white;
    --clr-3: rgb(57, 57, 57);
}
body {
    text-align: center;
    background: #3ca55c; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #308449,
        #7cb151
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #308449,
        #7cb151
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}
footer {
    position: absolute;
    left: 2%;
    bottom: 2%;
}
img {
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
button {
    position: relative;
    margin: 15px;
    padding: 10px;
    cursor: pointer;
    border-radius: 0.5rem;
}
button:hover {
    box-shadow: 0 5px 5px 0 rgb(88, 88, 88);
}
dialog {
    border-radius: 0.5rem;
    border: 1px solid;
    box-shadow: 0 5px 5px 0 rgb(43, 43, 43);
    overflow: hidden;
    font-size: 1.25rem;
}
dialog::before,
dialog::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: -1rem;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--clr-1),
        var(--clr-2),
        var(--clr-3),
        var(--clr-2),
        var(--clr-1)
    );
    border-radius: inherit;
    animation: rotation 8s linear infinite;
}
dialog::after {
    filter: blur(1rem);
}
dialog::backdrop {
    background-color: rgba(86, 86, 86, 0.922);
}
#winOkay {
    background-image: radial-gradient(var(--clr-2), var(--clr-1));
}
#winOkay:hover {
    background-image: radial-gradient(var(--clr-1), var(--clr-2));
    color: white;
}
.buttonContainer {
    position: fixed;
    height: 70vh;
    width: 15vw;
    left: 2%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 0 5px 5px 0 rgb(43, 43, 43);
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.378);
    /* justify-content: center; */
}
#dealerContainer {
    width: 65vw;
    margin: 10px auto 10px;
    display: flex;
    padding: 10px 0;
}
#dealerContainer,
#playerContainer,
#playerContainer2 {
    background-color: rgba(255, 255, 255, 0.114);
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: 0 5px 5px 0 rgb(63, 63, 63);
}
#playerContainerBox {
    width: 65vw;
    display: flex;
    margin: 10px auto 10px;
}
#playerContainer,
#playerContainer2 {
    margin: 10px auto 10px;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 0;
}
#playerContainer {
    display: flex;
}
.card {
    width: 7rem;
    height: 10rem;
    border-radius: 0.5rem;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 5px 5px 0 rgb(43, 43, 43);
}
#scoreContainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.378);
    position: fixed;
    height: 70vh;
    width: 15vw;
    top: 10%;
    right: 2%;
    border: 1px solid black;
    box-shadow: 0 5px 5px 0 rgb(43, 43, 43);
    border-radius: 0.5rem;
}
.ScoreBox {
    background-color: rgba(255, 255, 255, 0.378);
    margin: 20px;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 5px;
}
.SiegeBox {
    padding: 5px;
}
#hitMe {
    background-image: url(./images/card\ back\ red.png);
    background-size: 100%;
    padding: 0;
    width: 7rem;
    height: 10rem;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    box-shadow: 0 5px 5px 0 rgb(43, 43, 43);
    object-fit: cover;
}
#hitMe > * {
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.849);
    border-radius: 0.5rem;
    margin: auto;
    padding: 5px;
}
#hitMe:hover {
    box-shadow: 0 7px 7px 0 rgb(0, 0, 0);
}

@media screen and (max-width: 1024px) {
    h3 {
        font-size: 1rem;
    }
}
@media screen and (max-width: 940px) {
    h3 {
        font-size: 0.85rem;
    }
    #hitMe {
        width: 5.25rem;
        height: 7rem;
        background-image: url(./images/card\ back\ red.png);
        background-size: 98%;
    }
}
@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }
    100% {
        --gradient-angle: 360deg;
    }
}
